<head>
  <title>{{ site.data.resume.title }}</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="google-site-verification" content="ycLXsPSOvWgYxavLO9NQ18Bm65RgEz-Vg6YM-1kTrUs" />
  <link
    href="https://fonts.googleapis.com/css?family=Noto+Sans"
    rel="stylesheet"
  />
  <link
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/resume.css" />
  {% I18n_Headers %}
  {% seo %}
  <script defer data-website-id="2bdf1671-5c9b-403a-a610-23af53d6ab98" src="https://umi.rouxbaptiste.ovh/TWMkAawtMc.js"></script>
</head>
